<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LogMapper">

    <select id="selectAll" resultType="com.example.entity.Log">
        select * from log
        <where>
            <if test="userId != '' and userId != null">
                and user_id = #{userId}
            </if>
            <if test="operatorName != '' and operatorName != null">
                and operator_name like concat('%',#{operatorName}, '%')
            </if>
        </where>
        order by time desc
    </select>
</mapper>